body{
  text-align:center;
  color: #032a61;
  background-image: linear-gradient( 100deg, rgba(255, 255, 204, 0.7), rgba(254, 250, 212, 0.5) ), url(https://i.ibb.co/KG2Lqbs/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

form{
  background-color: rgba(0, 100, 255, 0.4);
  opacity: 1; 
  border-radius: 0.5rem;
  margin-left: 250px;
  margin-right: 250px;
  padding: 1.7em;
  color: white;
  text-align: left;
  font-family: Helvetica;
  border-radius: 5px;
  line-height: 200%;
}

.resize{
  width: 100%;
  height: 20px;
  border-radius: 5px;
}

.cars{
  width: 101%;
  height: 26px;
  border-radius: 5px;
}

.button{
  width: 100%;
  height: 26px;
  background-color: #ffaa80;
  color: white;
  border-radius: 5px;
}

.resize-box{
  width: 99%;
}