img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
}

#user, #pass, #email {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 4px;
    outline: none;
}

#user:hover {
    border: 1px solid #80bdff;
}
#pass:hover {
    border: 1px solid #80bdff;
}
#email:hover {
    border: 1px solid #80bdff;
}

#search:focus {
    border: 2px solid #80bdff;
}






.login-wrap {
    text-align: center;
    margin: 80px;  
}
.group {
    margin: 25px;  
}

body {
    background-image: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
   