
body {
    margin: 0;
    color: #aaa;
    background: #c8c8c8;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.custom-input {
    border: 1px solid grey;
    border-radius: 24px;
    padding: 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

.custom-input:hover {
    border: 1px solid #80bdff;
}

#search:focus {
    border: 2px solid #80bdff;
}

.login-wrap {
    width: 525px;
    margin: 0 auto;
    background-image: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.bg-shade {
    padding: 80px 20px;
    background-color: rgba(40, 57, 101, 0.9);
}
.group {
    margin: 25px 0;
}

.group label {
    font-size: 12px;
}

.title {
    font-size: 22px;
}

.button {
    width: 100%;
    color: white;
    background-color: #1161ee;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
}