body {
    padding: 12px;
}

.red {
    color: red
}
.green {
    color: green;
}
.brown {
    color: brown;
}

.search-input {
    border: none;
    border-bottom: 2px solid #000;
    padding: 0 0 5px 0;
}

select {
    background-color: red;
    border: none;
    color: white;
}

option {
    background-color: green;
}

#female {
    background-color: red;
    color: red
}